In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [2]:
from get_prepared_data import get_settlement_price_data_cleaned
df = get_settlement_price_data_cleaned()
df.head()

,Date,average_settlement_price,variance_in_settlement_price,std_settlement_price,min_settlement_price,max_settlement_price,settlement_price_range,median_settlement_price,first_settlement_price,last_settlement_price,count_price,skewness_settlement_price,DateTime
0,2021-11-03,101.509167,3.940990,1.985193,98.51,104.16,5.65,101.180,104.16,98.51,12,0.003246,2021-11-03
1,2021-11-04,101.025000,8.447348,2.906432,96.55,106.13,9.58,100.635,106.13,104.01,24,-0.035757,2021-11-04
2,2021-11-05,115.624583,109.434182,10.461079,101.17,128.29,27.12,117.085,128.09,104.22,24,-0.040105,2021-11-05
3,2021-11-06,108.921667,37.255449,6.103724,105.30,128.05,22.75,106.420,111.65,128.05,24,2.591173,2021-11-06
4,2021-11-07,106.220833,2.780408,1.667456,104.41,110.35,5.94,105.465,108.87,110.35,24,0.951227,2021-11-07

In [3]:
from get_prepared_data import merge_prices_and_hydro

df_all = merge_prices_and_hydro()
#282503

In [4]:

df_all.info()
df_all.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 59558 entries, 0 to 59557
Data columns (total 25 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   DateTime                      59558 non-null  datetime64[ns]
 1   DeliveryStartDate             59558 non-null  datetime64[ns]
 2   Forward Price                 59558 non-null  float64
 3   Year                          59558 non-null  int64
 4   Month                         59558 non-null  int64
 5   Day                           59558 non-null  int64
 6   Day Of Week                   59558 non-null  object
 7   Region                        59558 non-null  object
 8   Date                          59558 non-null  object
 9   average_settlement_price      59558 non-null  float64
 10  variance_in_settlement_price  59558 non-null  float64
 11  std_settlement_price          59558 non-null  float64
 12  min_settlement_price          59558 non-null  float64
 13  max_settlement_price          59558 non-null  float64
 14  settlement_price_range        59558 non-null  float64
 15  median_settlement_price       59558 non-null  float64
 16  first_settlement_price        59558 non-null  float64
 17  last_settlement_price         59558 non-null  float64
 18  count_price                   59558 non-null  int64
 19  skewness_settlement_price     59558 non-null  float64
 20  Inflow_N                      59558 non-null  float64
 21  Inflow_NE                     59558 non-null  float64
 22  Inflow_S                      59558 non-null  float64
 23  Inflow_SE/CW                  59558 non-null  float64
 24  Total Daily Inflow            59558 non-null  float64
dtypes: datetime64[ns](2), float64(16), int64(4), object(3)
memory usage: 11.8+ MB

,DateTime,DeliveryStartDate,Forward Price,Year,Month,Day,Day Of Week,Region,Date,average_settlement_price,...,median_settlement_price,first_settlement_price,last_settlement_price,count_price,skewness_settlement_price,Inflow_N,Inflow_NE,Inflow_S,Inflow_SE/CW,Total Daily Inflow
0,2021-11-03,2021-10-01,249.36,2021,11,3,Wednesday,SE/CW,2021-11-03,101.509167,...,101.18,104.16,98.51,12,0.003246,5916.0753,6509.1779,13672.7954,57811.0467,83909.0953
1,2021-11-03,2021-11-01,107.19,2021,11,3,Wednesday,SE/CW,2021-11-03,101.509167,...,101.18,104.16,98.51,12,0.003246,5916.0753,6509.1779,13672.7954,57811.0467,83909.0953
2,2021-11-03,2021-12-01,116.75,2021,11,3,Wednesday,SE/CW,2021-11-03,101.509167,...,101.18,104.16,98.51,12,0.003246,5916.0753,6509.1779,13672.7954,57811.0467,83909.0953
3,2021-11-03,2022-01-01,231.46,2021,11,3,Wednesday,SE/CW,2021-11-03,101.509167,...,101.18,104.16,98.51,12,0.003246,5916.0753,6509.1779,13672.7954,57811.0467,83909.0953
4,2021-11-03,2022-02-01,217.20,2021,11,3,Wednesday,SE/CW,2021-11-03,101.509167,...,101.18,104.16,98.51,12,0.003246,5916.0753,6509.1779,13672.7954,57811.0467,83909.0953

In [5]:
df_all.notnull()
df_all.notna().sum()

DateTime                        59558
DeliveryStartDate               59558
Forward Price                   59558
Year                            59558
Month                           59558
Day                             59558
Day Of Week                     59558
Region                          59558
Date                            59558
average_settlement_price        59558
variance_in_settlement_price    59558
std_settlement_price            59558
min_settlement_price            59558
max_settlement_price            59558
settlement_price_range          59558
median_settlement_price         59558
first_settlement_price          59558
last_settlement_price           59558
count_price                     59558
skewness_settlement_price       59558
Inflow_N                        59558
Inflow_NE                       59558
Inflow_S                        59558
Inflow_SE/CW                    59558
Total Daily Inflow              59558
dtype: int64

In [9]:
from get_prepared_data import get_data_set_and_split_to_train_and_test
X_train, X_test, y_train, y_test = get_data_set_and_split_to_train_and_test()
X_train.head()

,DateTime,DeliveryStartDate,Forward Price,Year,Month,Day,Day Of Week,Region,Date,average_settlement_price,...,median_settlement_price,first_settlement_price,last_settlement_price,count_price,skewness_settlement_price,Inflow_N,Inflow_NE,Inflow_S,Inflow_SE/CW,Total Daily Inflow
37758,2024-05-06,2026-05-01,139.74,2024,5,6,Monday,SE/CW,2024-05-06,61.070000,...,61.070,61.07,61.07,24,0.000000,19291.2899,3725.2561,43166.8209,26174.4512,92357.8181
3452,2022-03-04,2023-04-01,217.50,2022,3,4,Friday,SE/CW,2022-03-04,55.700000,...,55.700,55.70,55.70,24,0.000000,31904.5545,16977.1060,2861.3203,58229.6983,109972.6791
57610,2024-09-05,2033-05-01,139.70,2024,9,5,Thursday,SE/CW,2024-09-05,273.617917,...,245.415,712.04,283.45,24,4.647394,1266.5347,1260.1517,3744.2088,10445.6558,16716.5510
37669,2024-05-05,2025-09-01,124.01,2024,5,5,Sunday,SE/CW,2024-05-05,61.070000,...,61.070,61.07,61.07,24,0.000000,19956.7830,3891.8710,54241.8333,26722.1889,104812.6762
38752,2024-05-18,2028-12-01,139.74,2024,5,18,Saturday,SE/CW,2024-05-18,61.070000,...,61.070,61.07,61.07,24,0.000000,13752.3710,2815.9167,21201.3693,22606.2182,60375.8752

In [8]:
y_train.info()

<class 'pandas.core.series.Series'>
Int64Index: 44668 entries, 37758 to 56422
Series name: Forward Price
Non-Null Count  Dtype
--------------  -----
44668 non-null  float64
dtypes: float64(1)
memory usage: 697.9 KB